In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("business-financia data.csv")

In [4]:
df

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6190,BDCQ.SF8RSCA,2021.09,382.195,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN
6191,BDCQ.SF8RSCA,2021.12,397.184,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN
6192,BDCQ.SF8RSCA,2022.03,493.945,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN
6193,BDCQ.SF8RSCA,2022.06,579.955,NaN,R,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN
6194,BDCQ.SF8RSCA,2022.09,609.161,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN

In [7]:
type(df)

pandas.core.frame.DataFrame

In [24]:
df['Series_reference']

0       BDCQ.SF1AA2CA
1       BDCQ.SF1AA2CA
2       BDCQ.SF1AA2CA
3       BDCQ.SF1AA2CA
4       BDCQ.SF1AA2CA
            ...
6190     BDCQ.SF8RSCA
6191     BDCQ.SF8RSCA
6192     BDCQ.SF8RSCA
6193     BDCQ.SF8RSCA
6194     BDCQ.SF8RSCA
Name: Series_reference, Length: 6195, dtype: object

In [17]:
for i in df.columns:
    print(df[i][0])

BDCQ.SF1AA2CA
2016.06
1116.386
nan
F
Dollars
6
Business Data Collection - BDC
Industry by financial variable (NZSIOC Level 2)
Sales (operating income)
Forestry and Logging
Current prices
Unadjusted
nan

In [21]:
df(Head)

NameError: name 'Head' is not defined

In [25]:
df.isnull()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,False,False,False,True,False,False,False,False,False,False,False,False,False,True
1,False,False,False,True,False,False,False,False,False,False,False,False,False,True
2,False,False,False,True,False,False,False,False,False,False,False,False,False,True
3,False,False,False,True,False,False,False,False,False,False,False,False,False,True
4,False,False,False,True,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6190,False,False,False,True,False,False,False,False,False,False,False,False,False,True
6191,False,False,False,True,False,False,False,False,False,False,False,False,False,True
6192,False,False,False,True,False,False,False,False,False,False,False,False,False,True
6193,False,False,False,True,False,False,False,False,False,False,False,False,False,True
6194,False,False,False,True,False,False,False,False,False,False,False,False,False,True

In [26]:
df.isnull().sum()

Series_reference       0
Period                 0
Data_value           475
Suppressed          6180
STATUS                 0
UNITS                  0
Magnitude              0
Subject                0
Group                  0
Series_title_1         0
Series_title_2         0
Series_title_3         0
Series_title_4         0
Series_title_5      6195
dtype: int64

In [6]:
kf=df.drop(['Suppressed','Series_title_5'],axis=1)

In [7]:
kf

,Series_reference,Period,Data_value,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4
0,BDCQ.SF1AA2CA,2016.06,1116.386,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted
1,BDCQ.SF1AA2CA,2016.09,1070.874,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted
2,BDCQ.SF1AA2CA,2016.12,1054.408,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted
3,BDCQ.SF1AA2CA,2017.03,1010.665,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted
4,BDCQ.SF1AA2CA,2017.06,1233.700,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted
...,...,...,...,...,...,...,...,...,...,...,...,...
6190,BDCQ.SF8RSCA,2021.09,382.195,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted
6191,BDCQ.SF8RSCA,2021.12,397.184,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted
6192,BDCQ.SF8RSCA,2022.03,493.945,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted
6193,BDCQ.SF8RSCA,2022.06,579.955,R,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted
6194,BDCQ.SF8RSCA,2022.09,609.161,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted

In [18]:
pf.isnull().sum()

Series_reference    0
Period              0
Data_value          0
STATUS              0
UNITS               0
Magnitude           0
Subject             0
Group               0
Series_title_1      0
Series_title_2      0
Series_title_3      0
Series_title_4      0
dtype: int64

In [8]:
pf=kf.dropna()

In [36]:
pf

,Series_reference,Period,Data_value,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4
0,BDCQ.SF1AA2CA,2016.06,1116.386,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted
1,BDCQ.SF1AA2CA,2016.09,1070.874,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted
2,BDCQ.SF1AA2CA,2016.12,1054.408,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted
3,BDCQ.SF1AA2CA,2017.03,1010.665,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted
4,BDCQ.SF1AA2CA,2017.06,1233.700,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted
...,...,...,...,...,...,...,...,...,...,...,...,...
6190,BDCQ.SF8RSCA,2021.09,382.195,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted
6191,BDCQ.SF8RSCA,2021.12,397.184,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted
6192,BDCQ.SF8RSCA,2022.03,493.945,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted
6193,BDCQ.SF8RSCA,2022.06,579.955,R,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted
6194,BDCQ.SF8RSCA,2022.09,609.161,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted

In [ ]:
#Finding Average rating

In [12]:
df['Data_value']

0       1116.386
1       1070.874
2       1054.408
3       1010.665
4       1233.700
          ...
6190     382.195
6191     397.184
6192     493.945
6193     579.955
6194     609.161
Name: Data_value, Length: 6195, dtype: float64

In [19]:
(sum(df['Data_value']))

nan

In [31]:
int(sum(df['Period']))

12508286

In [25]:
str(int(sum(df['Period']))/6194)[:7]

'2019.41'

In [39]:
p=0
for i in df['Period']:
    p += i
    
s=int(p)   
print(p)

12508286.759999357

In [ ]:
## Q2.How many apps are there ith rating 5 ?

In [34]:
df['period']

KeyError: 'period'